/* styles/style.css */
body {
    font-family: Arial, sans-serif;
	margin: 0;
}

ul {
	list-style: none;
}

header img {
	width: 2em;
}

.hide {
	display: none;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

header ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

header li {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Pas de grootte van het logo aan */
    margin-right: 15px;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: auto; /* Zorgt ervoor dat de menu-items links blijven */
	flex-direction:column;
}

.menu img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.icons {
    display: flex;
    gap: 15px; /* Ruimte tussen de iconen */
}

.icons img {
    width: 24px;
    height: 24px;
}

/* uitklap navigatie*/
nav { 
	display: flex; 
	flex-direction: column; 
	background-color: white; 
	position: fixed; 
	top: 0px; 
	bottom: 0px; 
	left: 0px; 
	right: 0px; 
	transform: translateX(-100%); 
	transition: 0.3s; 
} 

nav img {
	width: 2em;
}

nav.toonMenu {
	transform: translateX(0); 
	display: flex;
}



.toonMenu ul{
	padding: 0;
	padding-left: 1em;
    flex-direction: column;
	display: flex;
}

.toonMenu a {
	text-decoration: none;
	align-items: center;
	align-self: center;
	margin-bottom: 1em;
	
}

.toonMenu #text {
	padding-left: 5em;
}

.toonMenu img:first-of-type {
	background-color: #fbdbe9;
	width: 2em;
	border-radius: 10em;
	padding: 0.5em
}

.toonMenu img:last-of-type {
	width: 1em;	
}

.toonMenu button {
	background-color: none;
}


.toonMenu a {
    flex: 1;                     
    text-decoration: none;       
    display: flex;               
    align-items: center;         
    color: #000; 
               
}

.toonMenu span {
	padding-left: 1em;	
	width: 78%;			   
}

.toonMenu h2 {
	font-size: 1rem;
	line-height: 1.625;
	font-weight: 700;
}

/*SEARCH BAR*/
.search-container {
	display: flex;
	background-color:#f2f2f2;
	padding: .3em;
}

.search-container div {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 8px 15px;
    width: 400px;
	flex-grow:1;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 5px;
}

.search-container img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    opacity: 0.7;
}

/*------------------------*/
/*TRENDING*/
/*------------------------*/

/* scrolbar*/
.scrolbar-container ul {
	display: flex;
	overflow-x: auto;
	gap: 1rem;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.scrolbar-container li {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-shrink: 0;
	width: 6rem;
	height: 4rem;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 0.7em;
}

.scrolbar-container img {
	max-width: 80%;
	max-height: 80%;
	object-fit: contain;

}

.scrolbar-container li:active {
    border: 0.1em solid #000; 
}

/* filteren sorteren*/
.filter-sorteer ul {
	display: flex;
	margin-right: 1em;
	gap: 1em;
}

.filter-sorteer img {
	width: 2em;
	height: 2em;
}
.filter-sorteer li {
	display: flex;
	align-items: center;
    border: 0.05em solid #000; 
	border-radius: 0.7em;
	width: 50%;
	height: 1.5em;
	font-size: 0.8em;
	padding: 1em;
}

.filter-sorteer li:nth-of-type(1) {
	gap:1em;
}

.filter-sorteer li:nth-of-type(2) {
	display: flex;
	justify-content:space-between;
}
.filter-sorteer li:hover {
    border: 0.15em solid #000; 
}

h1 {
	display: flex;
	justify-content: center;
}

